@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

a{
    cursor: pointer;
}

.hoverable:hover {
     /* Change 'red' to the desired color */
    stroke: #ee7623;
    fill: #ee7623;
    /* or use 'stroke' property if you want to change the stroke color */
}

.nimate:hover svg g path{
  fill:#ffecbd;
}

.menu a{
  padding: 5px 10px;
}

.menu a:hover{
  border: 1px solid black;
  border-radius: 40px;
}


.card:hover div div, .card2:hover div div {
  transform: scale(1.1);
  transition: ease-in-out;
  transition-duration: 300ms;

}

.card:hover a div .card-filter , .card2:hover div .card-filter {
  background: black;
  color: white;
  transition: ease-in-out 300ms;
}

.card:hover  div .button, .card2:hover div .button{
  background: #EBA900;
  transition: ease-in-out 200ms;
}
