@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

a{
    cursor: pointer;
}

.hoverable:hover {
     /* Change 'red' to the desired color */
    stroke: #ee7623;
    fill: #ee7623;
    /* or use 'stroke' property if you want to change the stroke color */
}

.nimate:hover svg g path{
  fill:#ffecbd;
}

@media screen and ( max-width:1024px) {
   .menu{
    display: none;
    flex-direction: column;
    background: #59611d;
    height: 100%;
    overflow-y: scroll;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    /* top: -100%; */
    width: 100%;
    /* padding-top: 15px; */
    padding-bottom: 25px;
    z-index: 10;
    
   }

   

   .menu .dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffecbd;
    border-radius: 15px;
    text-transform: uppercase;
  }
}



.menu .dropdown{
  padding: 5px 10px;
}

@media screen and (min-width: 1440px) {
  .menu .dropdown:hover{
    border: 1px solid black;
    border-radius: 40px;
  }
}



.card:hover div div, .card2:hover div div {
  transform: scale(1.1);
  transition: ease-in-out;
  transition-duration: 300ms;

}

.card:hover a div .card-filter , .card2:hover div .card-filter {
  background: black;
  color: white;
  transition: ease-in-out 300ms;
}

.card:hover  div .button, .card2:hover div .button{
  background: #EBA900;
  transition: ease-in-out 200ms;
}
