@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

a{
    cursor: pointer;
}

.hoverable:hover {
     /* Change 'red' to the desired color */
    stroke: #ee7623;
    fill: #ee7623;
    /* or use 'stroke' property if you want to change the stroke color */
}

.nimate:hover svg g path{
  fill:#ffecbd;
}

.menu a{
  padding: 5px 10px;
}

.menu a:hover{
  border: 1px solid black;
  border-radius: 40px;
}


/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo svg {
  width: 40px;
  height: 40px;
  fill: #fff;
  margin-right: 10px;
}

.menu {
  flex: 3;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.menu-item {
  position: relative;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
} */

/* Dropdown styling */
.dropdown {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100vw; /* Adjust the width as needed */
  top: 100%; /* Position the dropdown below the menu item */
  right:0vw; /* Align the left edge of the dropdown with the left edge of the menu item */
}

/* .menu-item:hover .dropdown {
  display: block;
}

.dropdown a {
  color: #fff;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.search-button,
.more-button {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.search-button,
.more-button button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
} */

.card:hover div div, .card2:hover div div {
  transform: scale(1.1);
  transition: ease-in-out;
  transition-duration: 300ms;

}

.card:hover a div .card-filter , .card2:hover div .card-filter {
  background: black;
  color: white;
  transition: ease-in-out 300ms;
}

.card:hover  div .button, .card2:hover div .button{
  background: #EBA900;
  transition: ease-in-out 200ms;
}

/* .card2:hover div .card-filter{
  background: black;
  color: white;
  transition: ease-in-out 300ms;
} */